name: ln

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ln:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: nobe4/action-ln@v0
        with:
          app_id: ${{ secrets.ACTION_LN_APP_ID }}
          app_private_key: ${{ secrets.ACTION_LN_APP_PRIVATE_KEY }}
          app_install_id: ${{ secrets.ACTION_LN_APP_INSTALL_ID }}
